<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">
    <context-param>
        <param-name>skindbDataRoot</param-name>
        <param-value>/opt/SkinDB</param-value>
    </context-param>

    <filter>
        <filter-name>AccessCounterFilter</filter-name>
        <filter-class>AccessCounter.AccessCounterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessCounterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>Servlet.home</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>browse</servlet-name>
        <servlet-class>Servlet.browse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>browse</servlet-name>
        <url-pattern>/browse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>details</servlet-name>
        <servlet-class>Servlet.details</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>details</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>details_init</servlet-name>
        <servlet-class>Servlet.details_init</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>details_init</servlet-name>
        <url-pattern>/details_init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>query_init</servlet-name>
        <servlet-class>Servlet.query_init</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>query_init</servlet-name>
        <url-pattern>/query_init</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deg_cell_type_change</servlet-name>
        <servlet-class>Servlet.deg_cell_type_change</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deg_cell_type_change</servlet-name>
        <url-pattern>/deg_cell_type_change</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DEGServlet</servlet-name>
        <servlet-class>Servlet.DEGServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DEGServlet</servlet-name>
        <url-pattern>/deg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneSearchServlet</servlet-name>
        <servlet-class>Servlet.GeneSearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneSearchServlet</servlet-name>
        <url-pattern>/gene-search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeneDetailsServlet</servlet-name>
        <servlet-class>Servlet.GeneDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeneDetailsServlet</servlet-name>
        <url-pattern>/gene-details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IntegrateServlet</servlet-name>
        <servlet-class>Servlet.IntegrateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IntegrateServlet</servlet-name>
        <url-pattern>/integrate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VisualizationServlet</servlet-name>
        <servlet-class>Servlet.VisualizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VisualizationServlet</servlet-name>
        <url-pattern>/visualization</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>Servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download-file</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeoIPServlet</servlet-name>
        <servlet-class>Servlet.GeoIPServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoIPServlet</servlet-name>
        <url-pattern>/track</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>Servlet.test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GeoDataAPI</servlet-name>
        <servlet-class>web.GeoDataAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoDataAPI</servlet-name>
        <url-pattern>/api/geo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>Servlet.feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>help</servlet-name>
        <servlet-class>Servlet.help</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>help</servlet-name>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>Servlet.contact</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>contact</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>

    <mime-mapping>
        <extension>md</extension>
        <mime-type>text/markdown</mime-type>
    </mime-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>EnrichmentServlet</servlet-name>
        <servlet-class>Servlet.EnrichmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnrichmentServlet</servlet-name>
        <url-pattern>/enrichment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GeoMetaServlet</servlet-name>
        <servlet-class>Servlet.GeoMetaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeoMetaServlet</servlet-name>
        <url-pattern>/geo_meta</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DEGCompareServlet</servlet-name>
        <servlet-class>Servlet.DEGCompareServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/datasets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/deg-compare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/deg-compare/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/deg-compare/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/deg-per-celltype</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/deg-per-celltype/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DEGCompareServlet</servlet-name>
        <url-pattern>/deg-per-celltype/result</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConditionCompareServlet</servlet-name>
        <servlet-class>Servlet.ConditionCompareServlet</servlet-class>
    </servlet>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/conditions</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/condition-compare</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/condition-compare/status</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/condition-compare/result</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/condition-gsea</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/condition-gsea/status</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/condition-gsea/result</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>ConditionCompareServlet</servlet-name><url-pattern>/gmt-catalog</url-pattern></servlet-mapping>

    <servlet>
        <servlet-name>compareJsp</servlet-name>
        <jsp-file>/compare.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>compareJsp</servlet-name>
        <url-pattern>/compare</url-pattern>
    </servlet-mapping>

</web-app>
